<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BookeNeest Review Service</title>
    @Styles.Render("~/Content/Styles")
    @Styles.Render("~/Content/Styles/Custom")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        </div>
        <div class="navbar-collapse collapse custom-book">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("BookeNeest", "Index", "Home", 
                        new { area = "" }, 
                        new { @class = "navbar-brand custom-book-head" })</li>
                <li>@Html.ActionLink("Books", "Recents", "Book")</li>
                <li>@Html.ActionLink("Reviews", "Index", "Review")</li>
                <li>@Html.ActionLink("Users", "Index", "User")</li>
                
                @Html.Partial("_AdminPartial")

                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer dir="rtl">
        <p>&copy; @DateTime.Now.Year - BookeNeest</p>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/select2")
@RenderSection("Scripts", required: false)
</body>

</html>