@*@using NLog.Web.AspNetCore.LayoutRenderers*@

@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Title (test)</h1>
<div class="jumbotron custom-book-head">
    <h1>BookeNeest</h1>
    <nav>
        <div class="btn-group col-md-12">
            @Html.ActionLink("Books", "Recents", "Book", null,
                new {type = "button", @class = "btn btn-primary"})
            @Html.ActionLink("Home", "Index", null,
                new {type = "button", @class = "btn btn-primary"})
            @Html.ActionLink("Contacts", "Contact", null,
                new {type = "button", @class = "btn btn-primary"})
            @Html.ActionLink("About", "About", null,
                new {type = "button", @class = "btn btn-primary"})
        </div>
    </nav>
</div>