@model BookeNeest.Web.Models.ReviewViewModel

@{
}

<h2 class="custom-book-head"> Review Details</h2>

<hr/>
@if (Model != null)
{
    <div class="custom-book">
        <div class="panel panel-primary panel-body row" style="background-color: rgb(255, 251, 230);">

            <div class="row">
                <div class="col-md-2 custom-book-fld "> Review ID: </div>
                <a href="~/Review/Details?reviewId=@Model.Id"
                   style="position: relative; left: -80px; color: blue">
                   @Model.Id
                </a>
            </div>

            <div class="row">
                <div class="col-md-2 custom-book-fld "> User ID: </div>
                <a href="~/User/Details?userId=@Model.UserId"
                   style="position: relative; left: -80px; color: blue">
                   @Model.UserId
                </a>
            </div>

            <div class="row">
                <div class="col-md-2 custom-book-fld "> Book ID: </div>
                <a href="~/Book/Details?bookId=@Model.BookId"
                   style="position: relative; left: -80px; color: blue">
                   @Model.BookId
                </a>
            </div>

            <div class="row">
                <div class="col-md-2 custom-book-fld "> Title: </div>
                <div style="position: relative; left: -80px"> @Model.Title </div>
            </div>

            <div class="row">
                <div class="col-md-2 custom-book-fld "> Rating: </div>
                <div style="position: relative; left: -80px"> @(Model.Rating ?? 0) </div>
            </div>



            <hr/>

            <h3 class="row col-md-12 custom-book-head" style="font-size: ; text-align: center; white-space: normal">
                Review
            </h3>

            <div class="row col-md-12" style="font-size: larger; text-align: center; white-space: normal">
                @Model.Text
            </div>

        </div>


    </div>
}
else
{
    <h4>
        <div class="custom-book-head text-danger"> [Details] NULL found or bug? </div>
    </h4>
}