@using System.Text
@model IList<BookeNeest.Web.Models.ReviewViewModel>

@{
}

<h2 class="custom-book-head"> Reviews</h2>

<hr/>
<p>
    <div class="panel-group form-horizontal ">
        @foreach (var review in Model)
        {
            <p class="row">
                <div class="row panel panel-primary panel-body" style="background-color: aliceblue;">

                    <div class="row">
                        <div class="custom-book-fld col-md-1">
                            Book ID:
                        </div> @review.BookId.ToString() <br/>

                        <div class="custom-book-fld col-md-1">
                            User ID:
                        </div> @review.UserId.ToString() <br/>


                        <span class="custom-book-fld col-md-1">
                            Title:
                        </span> @review.Title <br/>

                        <span class="custom-book-fld col-md-1">
                            Review:
                        </span> @review.Text <br/>
                    </div>
                    <div class="btn col-md-2">
                        @Html.ActionLink("Details", "Details",
                            routeValues: new {reviewId = review.BookId.ToString()},
                            htmlAttributes: new {@class = "btn btn-default btn-primary form-control"})
                    </div>

                </div>
            </p>
        }
    </div>

</p>