@using System.Security.Claims
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model BookeNeest.Web.Models.ReviewViewModel

@{
}


@using (Html.BeginForm("PostReview", "Review", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.BookId)

    @Html.AntiForgeryToken()

    <div class="panel panel-primary form-horizontal">
        <div class="panel-heading custom-book-head"> Talk about @Model.BookName</div>

        <div class="panel-body custom-book">

            @Html.ValidationSummary(false)

            <div class="row form-group">
                @Html.LabelFor(m => m.Title, new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(m => m.Title, new {@class = "form-control col-md-10"})
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Rating, new {@class = "control-label col-md-2"})
                @Html.DropDownListFor(m => m.Rating,
                    new SelectList(new[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, selectedValue: 5),
                    new {@class = "form-control col-md-10"})
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Text, "Review", new {@class = "control-label col-md-2"})
                @Html.TextAreaFor(m => m.Text, new {@class = "form-control col-md-10"})
            </div>

            <button type="submit" class="btn btn-primary form-control"> Post a review</button>
        </div>
    </div>
}