@model BookeNeest.Web.Areas.Admin.Models.CreateBookViewModel

@{
}

<h2 class="custom-book-head">Book Managment</h2>

<legend class="custom-book">Create new book</legend>

@using (Html.BeginForm("Create", "Book", FormMethod.Post, 
        new {enctype = "multipart/form-data", @class="form-horizontal custom-book-pre row"}))
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(false, "", new {@class = "text-danger"})

        <div class="form-group row">
            @Html.LabelFor(b => b.Name,
                new {@class = "col-md-1 control-label", style = "text-align: center"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(b => b.Authors,
                new {@class = "col-md-1 control-label", style = "text-align: center"})
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Authors, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(b => b.Genres,
                new {@class = "col-md-1 control-label", style = "text-align: center"})
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Genres, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(b => b.PublicationDate, "Publication Date", 
                new {@class = "col-md-1 control-label", style = "text-align: center"})
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.PublicationDate, new {@class = "form-control", type = "date"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(b => b.Description, new {@class = "col-md-1 control-label"})
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Description, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label>
                    Обложка книги:
                    <input type="file" name="bookImage" class="btn btn-default"/>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Add Book" class="btn btn-primary form-control"/>
            </div>
        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}