@using System.Text;

@model IList<BookeNeest.Web.Models.BookViewModel>

@{
    ViewBag.Title = "Book";
}

<h1>
    <span class="custom-book-head">
        Some recent books on site:
    </span>
</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @foreach (var book in Model)
        {
            <p>
                <div class="custom-book-pre">
                    ID: @book.Id.ToString()<br/>
                    Name: @book.Name<br/>
                    @{
                        StringBuilder authors = new StringBuilder();
                        foreach (var author in book.Authors)
                        {
                            authors.Append(author).Append(", ");
                        }
                        if (authors.Length > 2 && authors[authors.Length - 1] == ' ')
                        {
                            authors.Remove(authors.Length - 2, 2).Append(".");
                        }
                    }
                    Authors: @authors.ToString() <br/>
                </div>
            </p>
        }
    </p>
    <p>
        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Add new book" class="btn btn-default"/>
                    @*@Html.Action("AddNewBook");*@
                </div>
            </div>
        </div>
    </p>
}
@*<div>
    @Html.ActionLink("Back to List", "Index", "Home");
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}