@using System.Text;

@model IList<BookeNeest.Web.Models.BookViewModel>

@{
    ViewBag.Title = "Book";
}

<h1>
    <span class="custom-book-head">
        Some recent books on site:
    </span>
</h1>

@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    foreach (var book in Model)
    {
        <div class="panel panel-primary">
            <div class="custom-book-pre panel-body" style="background-color: aliceblue;">
                @{
                    StringBuilder authors = new StringBuilder();

                    foreach (var author in book.Authors)
                    {
                        authors.Append(author).Append(", ");
                    }
                    if (authors.Length > 2 && authors[authors.Length - 1] == ' ')
                    {
                        authors.Remove(authors.Length - 2, 2).Append(".");
                    }
                }

                <span class="custom-book-fld">
                    ID:
                </span> @book.Id.ToString() <br/>

                <span class="custom-book-fld">
                    Name:
                </span> @book.Name <br/>

                <span class="custom-book-fld">
                    Authors:
                </span> @authors.ToString() <br/>

            </div>
        </div>
    }
    <p>
        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Action("Details", new {bookName = "[Book 85166] 48f7133c-cef0-4eba-a668-115bd8f3ff40"})
                </div>
            </div>
        </div>
    </p>
}
@*<div>
    @Html.ActionLink("Back to List", "Index", "Home");
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}