@model BookeNeest.Web.Models.BookFilterViewModel

@{
    Layout = null;
}

<h4 class="custom-book-head" style="text-align: center"> Filters: </h4>

@using (Html.BeginForm("Recents", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="form-horizontal custom-book">
        <div class="row form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control col-md-10"})
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.MinRating, "Min Rating", new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.MinRating,
                new SelectList(new[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, 1),
                new {@class = "form-control col-md-10"})

            @Html.LabelFor(model => model.MaxRating, "Max Rating", new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.MaxRating,
                new SelectList(new[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, 10),
                new {@class = "form-control col-md-10"})
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.Authors, new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Authors, new {@class = "form-control col-md-10"})
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.Genres, new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Genres, new {@class = "form-control col-md-10"})
        </div>

        <div class="row form-group">
            <input type="submit" class="form-control col-md-offset-1 col-md-11 btn btn-primary " value="Apply Filters"/>
        </div>

    </div>
}

<hr/>