@using BookeNeest.Web.Models
@model BookeNeest.Web.Models.BookViewModel

@{
    ViewBag.Title = "View";
}

<h2>Book details: </h2>
<p>
    <div>
        ID: @Model.Book.Id <br/>
        Name: @Model.Book.Name <br/>
        Author: @Model.Book.Authors.ElementAt(0)<br/>
    </div>
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "Recents")
</p>
