@using System.Text
@model BookeNeest.Web.Models.BookViewModel

@{
}


@if (Model != null)
{
    <h2 class="custom-book-pre">Book</h2>

    <hr/>

    <div class="row panel panel-body panel-primary" style="background-color: aliceblue">
        <img src=@Url.Action("ImageFor", "Book", new { bookId = Model.Id }) 
             alt="[image] @Model.Name"
             class ="panel panel-primary" 
             style="width: 240px; height: 320px;"
        />
        
        @{
            StringBuilder authors = new StringBuilder();
            foreach (var author in Model.Authors)
            {
                authors.Append(author.Name).Append(", ");
            }
            if (authors.Length > 2 && authors[authors.Length - 1] == ' ')
            {
                authors.Remove(authors.Length - 2, 2).Append(".");
            }
        }

        <div class="row custom-book">
            <div class="col-md-1 custom-book-fld"> ID: </div>
            <div class="col-md-11"> @Model.Id </div>
        </div>

        <div class="row custom-book">
            <div class="col-md-1 custom-book-fld"> Name: </div>
            <div class="col-md-11"> @Model.Name </div>
        </div>

        <div class="row custom-book">
            <div class="col-md-1 custom-book-fld"> Rating:</div>
            <div class="col-md-11"> @Model.Rating </div>
        </div>

        <div class="row custom-book">
            <div class="col-md-1 custom-book-fld"> Authors:</div>
            <div class="col-md-11"> @authors.ToString() </div>
        </div>

        <hr/>

        @Html.ActionLink("Post Review", "PostReview", "Review",
            routeValues: new {bookId = Model.Id},
            htmlAttributes: new {@class = "btn  btn-primary "})
    </div>
}

else

{
    <h4>
        <span class="custom-book-head text-danger"> [Details] Such book doesn't exist.</span>
    </h4>
}