@using System.Text;
@using BookeNeest.Web.Models

@model IList<BookeNeest.Web.Models.BookViewModel>

@{
}

<h1 class="custom-book-head">Library</h1>

<hr/>

@{
    Html.RenderPartial("_BookFilterPartial", new BookFilterViewModel());
}

<div id="bookList"> 
    @foreach (var book in Model)
    {
        <div class="row panel panel-body panel-primary" style="background-color: aliceblue;">
            @{
                StringBuilder authors = new StringBuilder();

                foreach (var author in book.Authors)
                {
                    authors.Append(author.Name).Append(", ");
                }
                if (authors.Length > 2 && authors[authors.Length - 1] == ' ')
                {
                    authors.Remove(authors.Length - 2, 2).Append(".");
                }
            }
            
            <img src=@Url.Action("ImageFor", "Book", new { bookId = book.Id }) 
                 alt="[image] @book.Name"
                 class ="panel panel-primary" 
                 style="width: 240px; height: 320px;"
            />

            <div class="row custom-book">
                <div class="col-md-1 custom-book-fld"> ID: </div>
                <div class="col-md-11"> 
                    @book.Id 
                </div>
            </div>

            <div class="row custom-book">
                <div class="col-md-1 custom-book-fld"> Name: </div>
                <div class="col-md-11">
                    @Html.ActionLink(book.Name, "Details", "Book",
                        new {bookId = book.Id},
                        new {style = "color: blue"})
                </div>
            </div>

            <div class="row custom-book">
                <div class="col-md-1 custom-book-fld"> Rating:</div>
                <div class="col-md-11"> 
                    @book.Rating 
                </div>
            </div>

            <div class="row custom-book">
                <div class="col-md-1 custom-book-fld"> Authors:</div>
                <div class="col-md-11"> 
                    @authors.ToString()
                </div>
            </div>

            <hr/>

            <div class="btn-group ">

                @Html.ActionLink("Details", "Details", "Book",
                    routeValues: new {bookId = book.Id},
                    htmlAttributes: new {@class = "btn  btn-primary"})

                @Html.ActionLink("Post Review", "PostReview", "Review",
                    routeValues: new {bookId = book.Id},
                    htmlAttributes: new {@class = "btn  btn-primary "})
            </div>

        </div>
    }
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    @*
    @Scripts.Render("~/bundles/select2")
    
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#MinRating').select2({
                placeholder: 'Lowest rating',
                selectOnClose: false
                //adaptDropdownCssClass: function(c) {
                //    // Pass the select's classes through to the dropdown.
                //    return c;
                //}
            });

            $('#MaxRating').select2({
                placeholder: 'Highest rating',
                selectOnClose: false
                //adaptDropdownCssClass: function(c) {
                //    // Pass the select's classes through to the dropdown.
                //    return c;
                //}
            });

            $('.select2').removeClass('select2-container--above').addClass('select2-container--below');
        });
    </script>
    *@
}